target
db_backup.sql
.svelte-kit
node_modules
build
nanuak-prompting/prompt.md
.venv
__pycache__
.ipynb_checkpoints
.aider*
.env
!.aider.model.settings.yml
!.aider.startup_commands.txt
nanuak-files-index-request/files.txt